@import './function.scss';

a {
  text-decoration: none !important;
}

body {
  @include flex-common;
  flex-direction: column;
  height: 100vh;
  width: px2rem(750);
  margin: 0 auto !important;
  background: #F2F2F2;
  .icon-xuanzhong{
    color: $colorBase;
  }
}



// 内容区域
.content-box {
  padding: px2rem(20);
  .btn-box{
    text-align: right;
    .btn-option{
      padding: px2rem(20) 0 px2rem(20) px2rem(20);
      display: inline-block;
    }
    .btn-compelete{
      display: none;
    }
  }
  .item-store-order {
    border-radius: px2rem(10);
    background: #fff;
    .item-order-store-info{
      width: px2rem(710);
        padding: px2rem(20);
        transition: all 0.4s ease-out;
        @include flex-common(space-between);
        border-bottom: 1px solid $inputBgColor;
      .item-order-left {
        width: px2rem(70);
        .iconfont{
          font-size: px2rem(34);
          padding: px2rem(8)
        }
      }
      .item-order-right {
        @include flex-common(space-between);
        flex: 1;

        .shop-face-name {
          img {
            width: px2rem(50);
            margin-right: px2rem(10);
          }

          .store-name {
            font-size: px2rem(34);
            color: $__font__color_one;
          }
        }

        // 订单列表中得样式
        .order-goods-img {
          width: px2rem(180);
          height: px2rem(180);
        }
      }
    }

    // 订单列表
    .item-order-list {
      position: relative;
      .item-order-content{
        width: px2rem(710);
        padding: px2rem(20);
        transition: all 0.3s ease-out;
        @include flex-common(space-between);
        border-bottom: 1px solid $inputBgColor;
        position: relative;
        z-index: 10;
        background: #fff;
        &.translate-left{
          transform: translateX(px2rem(-100));
        }
      }
      .item-order-left {
        width: px2rem(70);
        .iconfont{
          font-size: px2rem(34);
          padding: px2rem(8);
        }
      }

      .item-order-right {
        @include flex-common(space-between);
        flex: 1;

        // 订单列表中得样式
        .order-goods-img {
          width: px2rem(180);
          height: px2rem(180);
        }
        // 订单信息
        .order-goods-info {
          width: px2rem(395);
          height: px2rem(180);
          @include flex-common(space-between, start);
          flex-direction: column;

          .order-goods-title {
            @include overflow-hiding-more;
            font-size: px2rem(28);
            color: #222;
            line-height: px2em(29);
          }

          .order-goods-selcted {
            font-size: px2rem(24);
            color: $__font__color_three;
            padding: 0 px2rem(10);
          }

          .order-goods-option {
            @include flex-common(space-between);
            width: 100%;
            font-size: px2rem(28);

            .money {
              color: $colorBase;
            }

            .option-box {
              font-size: px2rem(34);

              .goods-num {
                color: $__font__color_one;
                font-weight: bold;
                font-size: px2rem(34);
                width: px2rem(60);
                text-align: center;
              }
              .iconfont{
                padding: px2rem(8);
                font-size: px2rem(36);
              }
            }
          }
        }

      }
      // 删除单个订单按钮
      .btn-delete-order{
        @include flex-common;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: $colorBase;
        color: #fff;
        width: px2rem(100);
        font-size: px2rem(30);
      }
    }

    .item-order-list:first-child {
      border-bottom-color: transparent;
    }
  }

  .item-store-order:first-child {
    margin-top: px2rem(20)
  }
}

// 底部导航+功能按钮
.footer-box {
  width: px2rem(750);
  background: #fff;
  box-shadow: 0px 0px px2rem(5) 0px rgba(0, 0, 0, 0.1);

  .nav-box {
    @include flex-common(space-between);
    height: px2rem(98);
    width: px2rem(710);
    margin: 0 auto;

    .footer-option {
      font-size: px2rem(30);
      color: $__font__color_three;
      .iconfont{
        font-size: px2rem(34);
      }
    }

    .money-and-option,.footer-delete {
      .flex-box{
        @include flex-common;
        font-size: px2rem(36);
        color: $__font__color_one;
        .total-money{
          color: $colorBase;
        }
        .btn-submit-order,.btn-footer-delete {
          width: px2rem(200);
          height: px2rem(80);
          background: linear-gradient(90deg, rgba(254, 118, 2, 1) 0%, rgba(255, 75, 2, 1) 100%);
          border-radius: px2rem(40);
          text-align: center;
          line-height: px2rem(80);
          color: #fff;
          font-size: px2rem(30);
          margin-left: px2rem(28);
        }
      }
    }
    .footer-delete{
      display: none;
    }
  }
}