@import './function.scss';

body {
  background: #F2F2F2;
}

// 顶部旗舰推荐
.top-qijian-box {
  background: #fff;
  margin-bottom: px2rem(20);
  position: relative;

  .btn-back {
    position: absolute;
    top: px2rem(20);
    left: px2rem(20);
    font-size: px2rem(40);
  }

  .qijian-info {
    width: px2rem(750);
    height: px2rem(300);
    text-align: center;
    border-bottom: 1px solid #F2F2F2;

    .qijian-info-img {
      padding: px2rem(73) 0 px2rem(18) 0;

      img {
        width: px2rem(97);
      }
    }

    .qijian-info-title {
      color: $__font__color_one;
      font-size: px2rem(32);
      line-height: px2rem(34);
    }

    .qijian-info-comments {
      @include flex-common;
      margin-top: px2rem(20);
      color: #A0A0A0;
      font-size: px2rem(24);

      span:first-child {
        margin-right: px2rem(40);
      }
    }
  }

  .qijian-choose {
    @include flex-common;
    height: px2rem(88);
    color: $__font__color_one;
    font-size: px2rem(34);

    .item-choose.selected {
      color: #FF6C00;
    }

    i {
      margin: 0 px2rem(139);
      font-size: px2rem(26);
      font-weight: bold;
      color: #F2F2F2;
    }
  }
}

// 热卖商品
.hot-sale-box {
  background: #fff;
  padding: 0 px2rem(20);

  .px2rem290 {
    width: px2rem(290);
  }

  .hot-title {
    font-size: px2rem(30);
    line-height: px2rem(60);
  }

  .hot-sale-goods {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: px2rem(20) px2rem(10);

    .item-goods {
      margin-right: px2rem(20);
      border: none;
      box-shadow: 0px 0px px2rem(10) 0px rgba(0, 0, 0, 0.1);

      .goods-img {
        img {
          width: px2rem(290);
          height:  px2rem(290);
        }
      }
    }

    .item-goods:last-child {
      margin-right: 0;
    }
  }
}

// 店铺信息
.store-info {
  width: px2rem(750);

  .info-list {
    .item-list {
      @include flex-common(space-between);
      padding: px2rem(0) px2rem(20);
      height: px2rem(88);
      border-bottom: 1px solid #F2F2F2;
      background: #fff;

      .item-title {
        font-size: px2rem(34);
        line-height: px2rem(88);
        color: $__font__color_three;
      }

      .item-title-value {
        font-size: px2rem(28);
        color: $__font__color_two;

        .icon-lianxikefu {
          color: #FF6C00;
        }
      }

      &.item-list-license {
        height: auto;
        align-items: start;
        margin-top: px2rem(20);

        .item-title-license {
          @include flex-common(flex-end);
          flex-wrap: wrap;
          width: px2rem(500);
          padding: px2rem(10) 0 0;

          img {
            margin-left: px2rem(10);
            margin-bottom: px2rem(10);
            width: px2rem(100);
            height: px2rem(100);
          }
        }
      }
    }
  }
}